[access]
	inheritFrom = Public-Projects
[project]
	description = Source for https://gerritcodereview-test.gsrc.io/
[receive]
	requireChangeId = false
[access "refs/heads/md-pages"]
	push = +force group google/gerritcodereview-maintainers@googlegroups.com
	push = +force group homepage-authors
	create = group google/gerritcodereview-maintainers@googlegroups.com
	forgeAuthor = group google/gerritcodereview-maintainers@googlegroups.com
	forgeAuthor = group homepage-authors
	forgeCommitter = group google/gerritcodereview-maintainers@googlegroups.com
	forgeCommitter = group homepage-authors
